<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <div class="contain">
        <h1>BOOK MANAGEMENT SYSTEM</h1>
        <img src="./pics/l4.jpg" /><br>
        <button class="btn" onclick="window.location.href = '/addBook'">ADD BOOK</button>
        <button class="btn" onclick="window.location.href = '/updateBook'">UPDATE BOOK</button>
        <button class="btn" onclick="window.location.href = '/displayBook'">DISPLAY BOOK</button>
        <button class="btn" onclick="window.location.href = '/deleteBook'"> DELETE BOOK</button>
        <button class="btn" onclick="window.location.href = '/home'">BACK TO HOME</button>
    </div>
</body>

</html>